html {
    background: green;
    margin: 10px;
}

#container {
    background: green;
}

#content {
    background: white;
    padding: 10px;
}

.article {
    background: white;
    padding: 10px;
    margin: 5px;
}

.comments {
    background: white;
    margin: 5px;
    padding: 10px;
}